window {
  margin: 0px;
  border: 5px solid #032221;
}

#input {
  margin: 5px;
  border: none;
  color: #032221;
  background-color: #f1f7f6;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #032221;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #032221;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f1f7f6;
}

#entry:selected #text {
  color: #021b1a;
}

#input #text {
  color: #f1f7f6;
}

#entry:selected {
  background-color: #00df81;
  border-radius: 5px;
}
